<div class="container-fluid">
    <h2>Edit Publisher</h2>
    <form
      [formGroup]="editPublisherForm"
      (ngSubmit)="onSubmit()"
      id="editPublisherForm"
    >
      <app-read-only-field
        id="id"
        label="ID"
        labelClass="col-md-1 col-sm-2"
        valueClass="col-md-11 col-sm-10"
        [value]="publisher?.id"
      ></app-read-only-field>
      <app-text-field
        [control]="editPublisherForm.get('name')"
        formControlName="name"
        id="name"
        label="Name"
        labelClass="col-md-1 col-sm-2 required"
        valueClass="col-md-11 col-sm-10"
      ></app-text-field>
    </form>
    <app-action-bar>
      <button
        class="btn btn-default btn-outline-secondary"
        (click)="cancel()"
      >
        Cancel
      </button>
      <button
        [disabled]="!editPublisherForm.valid"
        class="btn btn-default btn-outline-success"
        form="editPublisherForm"
        type="submit"
      >
        Save
      </button>
    </app-action-bar>
  </div>
