<div class="container-fluid">
  <h2>View Category</h2>
  <form>
    <app-read-only-field
      id="id"
      label="ID"
      labelClass="col-md-1 col-sm-2"
      valueClass="col-md-11 col-sm-10"
      [value]="category?.id"
    ></app-read-only-field>
    <app-read-only-field
      id="name"
      label="Name"
      labelClass="col-md-1 col-sm-2"
      valueClass="col-md-11 col-sm-10"
      [value]="category?.name"
    ></app-read-only-field>
  </form>
  <app-action-bar>
    <button
      *ngIf="category?._links.update"
      (click)="editCategory()"
      class="btn btn-default btn-outline-secondary"
    >
      Edit
    </button>
    <button
      *ngIf="category?._links.delete"
      (click)="showConfirmation()"
      class="btn btn-default btn-outline-danger"
    >
      Delete
    </button>
  </app-action-bar>
</div>

<ng-template #confirmationText>
  Are you sure you want to delete <strong>{{ category.name }}</strong>&nbsp;<i>(ID: {{ category.id }})</i> ?
</ng-template>
