<div class="container-fluid">
  <h2>View Author</h2>
  <form>
    <app-read-only-field
      id="id"
      label="ID"
      labelClass="col-md-2 col-sm-3"
      valueClass="col-md-10 col-sm-9"
      [value]="author?.id"
    ></app-read-only-field>
    <app-read-only-field
      id="firstName"
      label="First Name"
      labelClass="col-md-2 col-sm-3"
      valueClass="col-md-10 col-sm-9"
      [value]="author?.firstName"
    ></app-read-only-field>
    <app-read-only-field
      id="middleName"
      label="Middle Name"
      labelClass="col-md-2 col-sm-3"
      valueClass="col-md-10 col-sm-9"
      [value]="author?.middleName"
    ></app-read-only-field>
    <app-read-only-field
      id="lastName"
      label="Last Name"
      labelClass="col-md-2 col-sm-3"
      valueClass="col-md-10 col-sm-9"
      [value]="author?.lastName"
    ></app-read-only-field>
  </form>
  <app-action-bar>
    <button
      *ngIf="author?._links.update"
      class="btn btn-default btn-outline-secondary"
      (click)="editAuthor()"
    >
      Edit
    </button>
    <button
      *ngIf="author?._links.delete"
      (click)="showConfirmation()"
      class="btn btn-default btn-outline-danger"
    >
      Delete
    </button>
  </app-action-bar>
</div>

<ng-template #confirmationText>
  Are you sure you want to delete <strong>{{ author.fullName }}</strong>&nbsp;<i>(ID: {{ author.id }})</i> ?
</ng-template>
