<td class="col-1">{{ book.id }}</td>
<td class="col-lg-3 col-md-5 col-sm-8 col-7">{{ book.title }}</td>
<td class="col-lg-2 col-md-3 d-none d-md-block">{{ book.categories.join(', ') }}</td>
<td class="col-lg-2 d-none d-lg-block">{{ book.authors.join(', ') }}</td>
<td class="col-xl-1 col-lg-2 d-none d-lg-block">{{ book.publishers.join(', ') }}</td>
<td class="col-xl-1 d-none d-xl-block text-nowrap">{{ book.publicationDate }}</td>
<td
  appActionCell
  class="col-lg-2 col-sm-3 col-4"
>
  <button
    appIconButton
    *ngIf="book._links.self"
    (click)="viewBook(book)"
    class="btn btn-sm btn-outline-primary"
    symbol="eye-regular"
  ></button>
  <button
    appIconButton
    *ngIf="book._links.update"
    (click)="editBook(book)"
    class="btn btn-sm btn-outline-secondary"
    symbol="edit-regular"
  ></button>
  <button
    appIconButton
    *ngIf="book._links.delete"
    (click)="deleteBook(book)"
    class="btn btn-sm btn-outline-danger"
    symbol="trash-alt-regular"
  ></button>
</td>
