<td class="col-1">{{ category.id }}</td>
<td class="col-lg-9 col-md-8 col-sm-7 col-6">{{ category.name }}</td>
<td
  appActionCell
  class="col-lg-2 col-md-3 col-sm-4 col-5"
>
  <button
    appIconButton
    *ngIf="category._links.self"
    (click)="viewCategory()"
    class="btn btn-sm btn-outline-primary"
    symbol="eye-regular"
  ></button>
  <button
    appIconButton
    *ngIf="category._links.update"
    (click)="editCategory()"
    class="btn btn-sm btn-outline-secondary"
    symbol="edit-regular"
  ></button>
  <button
    appIconButton
    *ngIf="category._links.delete"
    (click)="showConfirmation()"
    class="btn btn-sm btn-outline-danger"
    symbol="trash-alt-regular"
  ></button>
</td>

<ng-template #confirmationText>
  Are you sure you want to delete <strong>{{ category.name }}</strong>&nbsp;<i>(ID: {{ category.id }})</i> ?
</ng-template>
