<td class="col-1">{{ author.id }}</td>
<td class="col-sm-7 col-6 d-block d-md-none">{{ author.fullName }}</td>
<td class="col-md-3 d-none d-md-block">{{ author.firstName }}</td>
<td class="col-lg-3 col-md-2 d-none d-md-block">{{ author.middleName }}</td>
<td class="col-md-3 d-none d-md-block">{{ author.lastName }}</td>
<td
  appActionCell
  class="col-lg-2 col-md-3 col-sm-4 col-5"
>
  <button
    *ngIf="author._links.self"
    class="btn btn-sm btn-outline-primary"
    (click)="viewAuthor(author)"
  >
    <app-icon symbol="eye-regular"></app-icon>
  </button>
  <button
    *ngIf="author._links.update"
    class="btn btn-sm btn-outline-secondary"
    (click)="editAuthor(author)"
  >
    <app-icon symbol="edit-regular"></app-icon>
  </button>
  <button
    *ngIf="author._links.delete"
    class="btn btn-sm btn-outline-danger"
    (click)="deleteAuthor(author)"
  >
    <app-icon symbol="trash-alt-regular"></app-icon>
  </button>
</td>
