<td class="col-1">{{ publisher.id }}</td>
<td class="col-lg-9 col-md-8 col-sm-7 col-6">{{ publisher.name }}</td>
<td
  appActionCell
  class="col-lg-2 col-md-3 col-sm-4 col-5"
>
  <button
    appIconButton
    *ngIf="publisher._links.self"
    (click)="viewPublisher(publisher)"
    class="btn btn-sm btn-outline-primary"
    symbol="eye-regular"
  ></button>
  <button
    appIconButton
    *ngIf="publisher._links.update"
    (click)="editPublisher(publisher)"
    class="btn btn-sm btn-outline-secondary"
    symbol="edit-regular"
  ></button>
  <button
    appIconButton
    *ngIf="publisher._links.delete"
    (click)="deletePublisher(publisher)"
    class="btn btn-sm btn-outline-danger"
    symbol="trash-alt-regular"
  ></button>
</td>
