<div class="container-fluid">
  <div class="row flex-column-reverse flex-sm-row no-gutters my-3 d-flex align-items-center">
    <div class="col-sm-6">
    </div>
    <div class="col-sm-6 d-flex justify-content-sm-end justify-content-center mb-3 mb-sm-0">
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-borderless">
      <thead class="thead-dark">
        <tr class="d-flex">
          <th class="col-1">ID</th>
          <th class="col-lg-9 col-md-8 col-sm-7 col-6">Name</th>
          <th class="col-lg-2 col-md-3 col-sm-4 col-5">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr
          appCategoryRow
          class="d-flex align-items-center"
          *ngFor="let category of categories"
          [category]="category"
        ></tr>
      </tbody>
    </table>
  </div>
</div>
