<div class="container-fluid">
  <h2>Edit Author</h2>
  <form
    [formGroup]="editAuthorForm"
    (ngSubmit)="onSubmit()"
    id="editAuthorForm"
  >
    <app-read-only-field
      id="id"
      label="ID"
      labelClass="col-md-2 col-sm-3"
      valueClass="col-md-10 col-sm-9"
      [value]="author?.id"
    ></app-read-only-field>
    <app-text-field
      [control]="editAuthorForm.get('firstName')"
      formControlName="firstName"
      id="firstName"
      label="First Name"
      labelClass="col-md-2 col-sm-3"
      valueClass="col-md-10 col-sm-9"
    ></app-text-field>
    <app-text-field
      [control]="editAuthorForm.get('middleName')"
      formControlName="middleName"
      id="middleName"
      label="Middle Name"
      labelClass="col-md-2 col-sm-3"
      valueClass="col-md-10 col-sm-9"
    ></app-text-field>
    <app-text-field
      [control]="editAuthorForm.get('lastName')"
      formControlName="lastName"
      id="lastName"
      label="Last Name"
      labelClass="col-md-2 col-sm-3"
      valueClass="col-md-10 col-sm-9"
    ></app-text-field>
  </form>
  <app-action-bar>
    <button
      class="btn btn-default btn-outline-secondary"
      (click)="cancel()"
    >
      Cancel
    </button>
    <button
      [disabled]="!editAuthorForm.valid"
      class="btn btn-default btn-outline-success"
      form="editAuthorForm"
      type="submit"
    >
      Save
    </button>
  </app-action-bar>
</div>
